/**header**/
.header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .container{
    max-width: 1550px;
  }
}


.nav-item {
  margin-left: 2rem;
  .active {
    background-color: $primary;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    // color: $te;
  }
  :hover {
    background-color: $primary;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }
}
.nav a {
  color: $textWhite;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  
}
