$font: "Open Sans", sans-serif;
$font-family: "Poppins", sans-serif;
/**color**/
$primary: rgb(0, 25, 53);
$secondary: rgb(106, 22, 243);
$tertiary: rgb(244, 161, 17);
$textDark: rgb(37, 37, 37);
$textWhite: #ffffff;
