/**color**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*flex*/
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.item-start {
  align-items: flex-start;
}

.item-stretch {
  align-items: stretch;
}

.item-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-60 {
  flex-basis: 0 1 60%;
}

.flex-40 {
  flex-basis: 0 1 40%;
}

.flex-30 {
  flex-basis: 0 1 30%;
}

/**grid**/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 425px);
}

/**general**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

/*button*/
.btn {
  display: inline-block;
  padding: 0.9rem 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  cursor: pointer;
  background-color: rgb(0, 25, 53);
  color: #ffffff;
  border-radius: 6rem;
  transition: all 200ms ease-in-out;
}

/**heading**/
.heading {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(37, 37, 37);
}

/**text**/
.text-center {
  text-align: center;
}

/**padding**/
.padding {
  padding: 2rem 0;
}

/**header**/
.header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .container {
  max-width: 1550px;
}

.nav-item {
  margin-left: 2rem;
}
.nav-item .active {
  background-color: rgb(0, 25, 53);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}
.nav-item :hover {
  background-color: rgb(0, 25, 53);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

.nav a {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

/***hero***/
.hero {
  background: url(../media/banner2.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.hero .hero-item {
  padding-top: 11rem;
}

.hero-img {
  margin: 0 5rem;
}

.hero-box {
  margin-top: 5rem;
  margin-right: 2rem;
}
.hero-box span {
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
}
.hero-box h1 {
  font-size: 10rem;
  font-weight: 900;
  color: rgb(244, 161, 17);
  line-height: 1;
  margin-bottom: 2rem;
}
.hero-box strong {
  color: #ffffff;
}
.hero-box .btn:hover {
  background-color: rgb(244, 161, 17);
}

/**classes**/
.col-classes h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(37, 37, 37);
  margin-top: 1rem;
}
.col-classes p {
  font-size: 1rem;
  font-weight: 900;
  color: #bdb7b6;
  margin-top: 0.5rem;
}

.col-1,
.col-4 {
  grid-column: span 3;
  justify-self: center;
}

.col-3 {
  grid-column: span 2;
  justify-self: end;
}

/**middile**/
.middle .container {
  background-color: rgb(0, 25, 53);
  padding: 0;
  padding-left: 8rem;
}
.middle .heading {
  color: #ffffff;
  font-size: 3rem;
}
.middle p {
  color: #ffffff;
  font-size: 1rem;
  border-bottom: #fff solid 1px;
  padding-bottom: 35px;
}
.middle .btn {
  background-color: rgb(244, 161, 17);
  border-radius: 0;
  padding: 0.7rem 2rem;
}
.middle .middle-img {
  font-size: 0;
}
.middle .middle-img img {
  margin: 0;
  padding-right: 0;
}
.middle .titlepage {
  max-width: 650px;
  padding-right: 7rem;
  width: 100%;
}

/**about**/
.sub-header {
  padding: 0 15rem;
}
.sub-header p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/**mind**/
.mind .container {
  background-color: rgb(0, 25, 53);
  padding: 0;
}
.mind .heading {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.mind p {
  color: #ffffff;
  font-size: 1rem;
  border-bottom: #fff solid 1px;
  padding-bottom: 35px;
}
.mind .btn {
  background-color: rgb(244, 161, 17);
  border-radius: 0;
  padding: 0.7rem 2rem;
}
.mind .middle-img {
  font-size: 0;
}
.mind .middle-img img {
  margin: 0;
  padding-right: 0;
}
.mind .titlepage {
  max-width: 750px;
  padding: 0 7rem;
  width: 100%;
}

/**price**/
.price .container {
  max-width: 1150px;
}
.price .price-item {
  padding: 0 2.5rem;
}
.price .price-item h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3rem;
}
.price .price-item h3 {
  font-size: 5.5rem;
  font-weight: 700;
  color: rgb(37, 37, 37);
}
.price .price-item strong {
  color: rgb(244, 161, 17);
}
.price .price-item hr {
  width: 6.5rem;
  height: 0.7rem;
  background-color: #6e22eb;
  border-radius: 8px;
}
.price .price-item p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.price .price-item .btn {
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: rgb(37, 37, 37);
  font-weight: 500;
}

.price .active {
  border-left: 6px solid #cfb5fa;
  border-right: 6px solid #cfb5fa;
}
.price .active .btn {
  background-color: rgb(244, 161, 17);
}/*# sourceMappingURL=style.css.map */